<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
<!-- 		<bean id="mundo" class="com.conecta.beans.Mundo"> -->
<!-- 			<property name="saludo" value="Hola Conecta"></property> -->
<!-- 		</bean> -->
		
<!-- 		<bean id="persona" class="com.conecta.beans.Persona"> -->
<!-- 			<constructor-arg type="String" value="Jeff"></constructor-arg>  -->
<!-- 		</bean> -->

<!-- 		<bean id="persona" class="com.conecta.beans.Persona"> -->
<!-- 			<constructor-arg  index="0" value="1"></constructor-arg> -->
<!-- 			<constructor-arg  index="2" value="Nicho"></constructor-arg> -->
<!-- 			<constructor-arg  index="1" value="Juan Martines"></constructor-arg>  -->
<!-- 		</bean> -->
		
<!-- 		<bean id="persona" class="com.conecta.beans.Persona"> -->
<!-- 			<property name="pais" ref="pais"></property> -->
<!-- 			<property name="id" value="1"></property> -->
<!-- 			<property name="nombre" value="Juan"></property> -->
<!-- 			<property name="apodo" value="Pepito"></property> -->
<!-- 		</bean> -->
		
		<bean id="persona" class="com.conecta.beans.Persona" name="personaBean2">
			<property name="pais">
				<bean id="pais" class="com.conecta.beans.Pais">
						<property name="nombre" value="Perú"></property>
						<property name="cuidad">
							<bean id="cuidad" class="com.conecta.beans.Cuidad">
								<property name="nombre" value="Lima"></property>
							</bean>
						</property>
				</bean>
			</property>
			<property name="id" value="1"></property>
			<property name="nombre" value="Juan"></property>
			<property name="apodo" value="Pepito"></property>
		</bean>
		
<!-- 		<bean id="pais" class="com.conecta.beans.Pais"> -->
<!-- 			<property name="nombre" value="Perú"></property> -->
<!-- 			<property name="cuidad" ref="cuidad"></property> -->
<!-- 		</bean> -->
		
		
		<alias name ="persona" alias="personaBean" />
		
		
</beans>
